# Episode 11: Lists

## [Creating and using collections of values](https://librarycarpentry.org/lc-python-intro/11-lists/index.html)
 
## LOs:

- How can I store multiple values?
- Explain why programs need collections of values
- Write programs that create flat lists, index them, slice them and modify them through assignment and method calls
 
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  
&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

## A list stores many values in a single structure

In [1]:
student_1 = 'Mark'
student_2 = 'Susan'

In [2]:
student_names = ['Mark', 'Susan']
student_names

['Mark', 'Susan']

In [3]:
list_of_students = [student_1, student_2]
list_of_students

['Mark', 'Susan']

In [4]:
temperatures = [17.3, 17.5, 16.2]
temperatures

[17.3, 17.5, 16.2]

In [5]:
# len
len('Mark')

4

In [7]:
len(temperatures)

3

In [8]:
len(52)

TypeError: object of type 'int' has no len()

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;

&nbsp;  
&nbsp;  

## Use an item's index to fetch it from a list

*Remember when we used index numbers to retrieve specific characters from a string*

In [9]:
atom_name = 'helium'
print('first char', atom_name[0])

first char h

In [10]:
temperatures[0]

17.3

In [11]:
temperatures[1]

17.5

&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

## Lists' values can be replaced by assigning to them

In [12]:
print(temperatures)

[17.3, 17.5, 16.2]

In [13]:
print('second item', temperatures[1])

second item 17.5

In [14]:
temperatures[1] = 16.5
print(temperatures)

[17.3, 16.5, 16.2]

In [48]:
empty_list = []
new_list = [0] * 10
new_list

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [49]:
len(new_list)

10

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;    

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  
## Appending items to a list lengthens it

In [15]:
temperatures

[17.3, 16.5, 16.2]

In [ ]:
# list_name.append()

In [16]:
temperatures.append(17.5)

In [18]:
temperatures

[17.3, 16.5, 16.2, 17.5]

In [19]:
alex_temperatures = [18.2, 3.6, 4.5]
all_temperatures = temperatures + alex_temperatures
all_temperatures

[17.3, 16.5, 16.2, 17.5, 18.2, 3.6, 4.5]

In [20]:
# list_name.extend()
temperatures.extend(alex_temperatures)

In [21]:
temperatures

[17.3, 16.5, 16.2, 17.5, 18.2, 3.6, 4.5]

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  
&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

## Use `del` to remove items from a list entirely

`del` is **not** a function or method, it is a **statement**

In [22]:
temperatures

[17.3, 16.5, 16.2, 17.5, 18.2, 3.6, 4.5]

In [23]:
# del the third item from our list
# del - deletes an item based on its index or position in the list
del temperatures[2]

In [24]:
temperatures

[17.3, 16.5, 17.5, 18.2, 3.6, 4.5]

In [25]:
# list_name.remove() - removes a specific item, based on its value
temperatures.remove(17.5)

In [26]:
temperatures

[17.3, 16.5, 18.2, 3.6, 4.5]

In [32]:
new_list = [1,2,3,4,4,5]
new_list

[1, 2, 3, 4, 4, 5]

In [33]:
new_list.remove(4)
new_list

[1, 2, 3, 4, 5]

In [34]:
new_list.remove(4)
new_list

[1, 2, 3, 5]

In [35]:
new_list.remove(4)

ValueError: list.remove(x): x not in list

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

## The empty list contains no values

In [50]:
new_list = [1, 2, 3, 4]
new_list[0:1]

[1]

In [52]:
new_list[0:2]

[1, 2]

In [51]:
new_string = 'Emma'
new_string[0:3]

'Emm'

In [27]:
student_names = ['Mark']
student_names

['Mark']

In [28]:
empty_list = []
empty_list

[]

In [29]:
empty_list.append('Mark')

In [30]:
empty_list

['Mark']

In [31]:
len(empty_list)

1

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  


## Lists may contain values of different types

In [37]:
goals = [1, 'create lists', 2, 'extract items', 3.1]

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

## (Reminder) Character strings can be indexed like lists

In [38]:
temperatures

[17.3, 16.5, 18.2, 3.6, 4.5]

In [39]:
temperatures[0]  # first item

17.3

In [40]:
student_name = 'Emma'
student_name[0]

'E'

In [41]:
# use indexing to overwrite or change items in a list
temperatures[0] = 20
temperatures

[20, 16.5, 18.2, 3.6, 4.5]

In [42]:
# THIS DOES NOT WORK FOR STRINGS
# strings are immutable
print('original name:', student_name)
student_name[0] = 'A'
print('new name:', student_name)

original name: Emma

TypeError: 'str' object does not support item assignment

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  &nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  &nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

## Character strings are immutable

*Immutable*: can't be changed after creation
*Mutable*: can be changed affter creation

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

## Indexing beyond the end of the collection is an error

In [43]:
new_list

[1, 2, 3, 5]

In [44]:
new_list.remove(4)

ValueError: list.remove(x): x not in list

In [45]:
student_name[0] = 'A'

TypeError: 'str' object does not support item assignment

In [ ]:
# index error - index does not exist

In [46]:
len(new_list)

4

In [47]:
new_list[6]

IndexError: list index out of range

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  
&nbsp;  
&nbsp;  

## (Ex) Fill in the Blanks

Fill in the blanks so that the program below produces the output shown

In [ ]:
values = ____
values.____(1)
values.____(3)
values.____(5)
print('first time:', values)
values = values[____]
print('second time:', values)

Output:
```
first time: [1, 3, 5]
second time: [3, 5]
```

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

## (Ex) How large is a slice?

If `start` and `stop` are both non-negative integers, how long is the list `values[start:stop]`?

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

## (Ex) From strings to lists and back

Given this:
```
print('string to list:', list('tin'))
print('list to string:', ''.join(['g, 'o', 'l', 'd']))
```
Outputs this:
```
string to list ['t', 'i', 'n']
list to string: gold
```
1. What does `list('some string')` do?
2. What does `'-'.join(['x', 'y', 'z'])` generate?

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

## (Ex) Working with the end

What does the following program print?
```
element = 'helium'
print(element[-1])
```

1. How does Python interpret a negative index?
2. If a list or string has N element, what is the most negative index that can safely be used with it, and what location does that index represent?
3. If `values` is a list, what does `del values[-1]` do?
4. How can you display all elements but the last one without changing `values`? (Hint: *you will need to combine slicing and negative indexing*)

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

## Stepping through a list

What does the following program print?

```
element = 'fluorine'
print(element[::2])
print(element[::-1])
```

1. If we write a slice as `low:high:stride`, what does `stride` do?
2. What expression would select all of the even-numbered items from a collection?

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

## (Ex) Slice bounds

What does the following program print?
```
element = 'lithium'
print(element[0:20])
print(element[-1:3])
```

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

## Sort and sorted

What do these two programs print?

In simple terms, explain the difference between `sorted(letters)` and `letters.sort()`.

```
# Program A
letters = list('gold')
result = sorted(letters)
print('letters is', letters, 'and result is', result)
```

```
# Program B
letters = list('gold')
result = letters.sort()
print('letters is', letters, 'and result is', result)
```

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

## (Ex) Copying (or not)

What do these two programs print?

In simple terms, explain the difference between `new = old` and `new = old[:]`

```
# Program A
old = list('gold')
new = old      # simple assignment
new[0] = 'D'
print('new is', new, 'and old is', old)
```

```
# Program B
old = list('gold')
new = old[:]   # assigning a slice
new[0] = 'D'
print('new is', new, 'and old is', old)
```

In [56]:
old =[ 0,2,1]
old

[0, 2, 1]

In [57]:
new = old
new

[0, 2, 1]

In [58]:
old.sort()
old

[0, 1, 2]

In [59]:
new

[0, 1, 2]

In [65]:
new.sort(reverse=True)

In [66]:
old

[2, 1, 0]

In [67]:
new

[2, 1, 0]

In [68]:
from copy import copy

In [69]:
new = copy(old)

In [70]:
print(old, new)

[2, 1, 0] [2, 1, 0]

In [71]:
new.sort()

In [72]:
print(old, new)

[2, 1, 0] [0, 1, 2]

In [74]:
new.sort?

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

## Key points

- A list stores many values in a single structure.

- Use an item’s index to fetch it from a list.

- Lists’ values can be replaced by assigning to them.

- Appending items to a list lengthens it.

- Use `del` to remove items from a list entirely.

- The empty list contains no values.

- Lists may contain values of different types.

- Character strings can be indexed like lists.

- Character strings are immutable.

- Indexing beyond the end of the collection is an error.

## LOs

- How can I store multiple values?
- Explain why programs need collections of values
- Write programs that create flat lists, index them, slice them and modify them through assignment and method calls