# Episode 3: Data Types and Type Conversion

## [What are the different data types in Python?](https://librarycarpentry.org/lc-python-intro/03-types-conversion/index.html)

## LOs:

- What kinds of data to programs store?
- How can I convert one type to another?
- Explain key differences between
    - Intergers and floating point numbers
    - Numbers and character strings
- Use built-in functions to convery between intergers, floating point numbers, and strings
&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

## Every value has a type

**Interger**, `int`

**Floating point number**, `float`

**Character string (string)**, `str`

In [1]:
intergers = 3
float_number = 0.3
char_str = "Jack"
char_str_two = 'Alex'

&nbsp; 
&nbsp;  
&nbsp;  
&nbsp;  
&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  
## Use the built-in function `type` to find the type of a value

*`type` works on variables as well...*

In [ ]:
# print() - prints output
# len() - length of a strin
# type() - tells the datatype of a variable or piece of data

In [2]:
age = 56
print(type(age))

<class 'int'>

In [3]:
age = 16.3
print(type(age))

<class 'float'>

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  
## Why should I care?

In [4]:
number_5 = 5
number_3 = 3
print(5 - 3)

2

In [5]:
print('hello' - 'h')

TypeError: unsupported operand type(s) for -: 'str' and 'str'

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  
&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

## You can use the '+' and '*' operators on strings

### Adding strings together: Concatenating strings

In [6]:
name = 'Alex'
print(name, name, name, name)

Alex Alex Alex Alex

In [7]:
print(name * 10)

AlexAlexAlexAlexAlexAlexAlexAlexAlexAlex

In [8]:
separator = '='*10
print(separator)

==========

In [9]:
# add strings together
first_name = 'Lucy'
surname_name = 'Hobbs'
full_name = first_name + surname_name
print(first_name, surname_name, full_name)

Lucy Hobbs LucyHobbs

In [10]:
full_name = first_name + ' ' + surname_name
print(full_name)

Lucy Hobbs

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  


### Multipling strings and characters

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  
&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  
## Strings have a length (but numbers DON'T)
*Recap on using the built-in function `len` from episode 2*

In [11]:
# length() - R
# len() - R
print(first_name)

Lucy

In [12]:
len(first_name)

4

In [13]:
print(age)

16.3

In [14]:
print(len(age))

TypeError: object of type 'float' has no len()

In [15]:
age = 63
print(len(age))

TypeError: object of type 'int' has no len()

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  
&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  
## Converting between data types.

In [16]:
section_num = 1
section_group = 'A'
# 1A
print(section_num + section_group)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [17]:
print(type(section_num))

<class 'int'>

In [18]:
# str()
print(str(section_num) + section_group)

1A

In [19]:
print(type(str(section_num)))

<class 'str'>

In [20]:
group_num = '2'
print(type(group_num))

<class 'str'>

In [21]:
print(group_num + 2)

TypeError: can only concatenate str (not "int") to str

In [ ]:
# str() - converts data to a string
# int() - converts data to an interger

In [22]:
print(int(group_num) + 2)

4

In [23]:
print(type(int(group_num)))

<class 'int'>

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  
&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  
We can convert the data type by using the type name as a function...  
`int()`  
`float()`  
`str()`

In [24]:
print(group_num)

2

In [25]:
# float = decimals
print(float(group_num))

2.0

In [26]:
group_num_float = float(group_num)
print(group_num_float)

2.0

In [27]:
group_num_float

2.0

In [28]:
age
group_num_float

2.0

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

## We can intermix number data types (intergers and floats)

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  
&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

## Variables only change value when something is assigned to them
*Think back to when we sliced strings in episode 2*

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  
&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  
## (Ex) Fractions 

*Practise identifying data types.*

What type of value is 3.4?  
How can you find out?

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  
## (Ex) Automatic Type Conversion

*Practise identifying data types and using numeric data types.*

What type of value is `3.25+4`?

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

## (Ex) Choose a Type

*Practise identifying types, and understanding of the different operations applicable to the different data types.* 

What type of value (integer, floating point number, or character string) would you use to represent each of the following? Try to come up with more than one good answer for each problem. For example, in # 1, when would counting days with a floating point variable make more sense than using an integer?

1. Number of days since the start of the year.
2. Time elapsed from the start of the year until now in days.
3. Serial number of a piece of lab equipment.
4. A lab specimen’s age
5. Current population of a city.
6. Average population of a city over time.

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  
&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

## (Ex) Division Types

In Python 3, the `//` operator performs integer (whole-number) floor division, the `/` operator performs floating-point division, and the `%` (or modulo) operator calculates and returns the remainder from integer division:

In [1]:
print('5 // 3:', 5 // 3)
print('5 / 3:', 5 / 3)
print('5 % 3:', 5 % 3)

5 // 3: 1
5 / 3: 1.6666666666666667
5 % 3: 2

If `num_subjects` is the number of subjects taking part in a study, and `num_per_survey` is the number that can take part in a single survey, write an expression that calculates the number of surveys needed to reach everyone once.

&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  
&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  
## (Ex) Strings to Numbers

Where reasonable `float()` will convert a string to a floating point number, and `int()` will convery a floating point number to an integer.

In [2]:
print("string to float:", float("3.4"))
print("float to int:", int(3.4))

string to float: 3.4
float to int: 3

If the conversion doesn't make sense, however, an error message will occur.

In [3]:
print("string to float:", float("Hello world!"))

ValueError: could not convert string to float: 'Hello world!'

Given this information, what do you expect the following program to do?

What does it actually do?

Why do you think it does that?

In [ ]:
print("fractional string to int:", int("3.4"))

&nbsp;  
&nbsp;  
&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  
## (Ex) Arithmetic with Different Types

Which of the following will return the floating point number `2.0`?  
*Note: there may be more than one right answer.*

```
first = 1.0
second = "1"
third = "1.1"
```
1. first + float(second)
2. float(second) + float(third)
3. first + int(third)
4. first + int(float(third))
5. int(first) + int(float(third))
6. 2.0 * second

&nbsp;  
&nbsp;  
&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

## (Ex) Complex Numbers

Python provides complex numbers, which are written as `1.0+2.0j`. If `val` is a complex number, its real and imaginary parts can be accessed using dot notation as `val.real` and `val.imag`.

In [4]:
a_complex_number = 6 + 2j
print(a_complex_number.real)
print(a_complex_number.imag)

6.0
2.0

1. Why do you think Python uses `j` instead of `i` for the imaginary part?
2. What do you expect `1 + 2j + 3` to produce?
3. What do you expect `4j` to be? What about `4 j` or `4 + j`?

&nbsp;  
&nbsp;  
&nbsp;  
&nbsp;  

&nbsp;  

&nbsp;  
&nbsp;  

## Key Points
- Every value has a type
- USe the built in function `type` to find the type of a value
- Types ontrol what operations can be done on values
- Strings can be added and multiplied
- Strings have a length (but numbers don't)
- Must convert numbers to strings or vice versa when operating on them
- Can mix integers and floats freely in operations
- Variables only change value when something is assigned to them

## LOs:

- What kinds of data to programs store?
- How can I convert one type to another?
- Explain key differences between
    - Intergers and floating point numbers
    - Numbers and character strings
- Use built-in functions to convery between intergers, floating point numbers, and strings